@page "/product"
@page "/product/index"
@inject HttpClient Http
@inject IJSRuntime JS
<h2>Products list</h2>
<div class="text-right mb-2">
    <NavLink class="btn btn-success" href="product/edit">
        <span class="fas fa-plus" aria-hidden="true"></span> New
    </NavLink>
</div>
<div class="row @(string.IsNullOrEmpty(message) ? "d-none": "")">
    <div class="col-sm-12">
        <div class="alert alert-@messageType text-truncate">
            @message
        </div>
    </div>
</div>
@if (isLoadingData)
{
    <Loading></Loading>
}
else
{
    <div class="row">
        @if (products != null && products.Count() != 0)
        {
            @foreach (var product in products)
            {
                <div class="col-sm-3 mb-3">
                    <div class="card" style="height:300px">
                        <div class="text-center" style="height:150px">
                            <img style="height:100%;" src="@product.Pictures?.FirstOrDefault()?.Path" alt="@product.Name">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <div><h5 class="text-truncate" title="@product.Name">@product.Name</h5></div>
                                <div class="text-primary text-truncate" title="@product.Category?.Name" style="font-size:12px">@product.Category?.Name</div>
                            </div>
                            <div class="card-text text-truncate">
                                @product.Description
                            </div>
                            <div class="text-danger mt-2"><strong>@product.Price.ToString("N0") @product.Currency</strong></div>

                        </div> 
                        <div class="card-footer text-right">
                            <a disabled="@isBusy" href="product/edit/@product.Id" class="text-primary"><span class="oi oi-pencil" aria-hidden="true"></span></a>
                            <a disable="@isBusy" href="javascript:;" @onclick="(() => HandleDelete(product.Id, product.Name))" class="text-danger"><sapn class="oi oi-trash" aria-hidden="true"></sapn></a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-sm-12">
                <em>Product not found !</em>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<ProductListModel> products;
    private string message = string.Empty;
    private MessageType messageType = MessageType.danger;
    private bool isBusy = false;
    private bool isLoadingData = false;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await LoadData();
        }
        catch(Exception ex)
        {
            messageType = MessageType.danger;
            message = $"Error : {ex.GetType()} {ex.Message}";
        }
    }

    private async Task LoadData()
    {
        try
        {
            isLoadingData = true;

            var response = await Http.GetAsync($"Article/Index");
            if (response.IsSuccessStatusCode)
            {
                var json = await response.Content.ReadAsStringAsync();
                var productList = JsonConvert.DeserializeObject<ListDto<ProductDto>>(json);
                products = productList.Items.Select
                (
                    x => new ProductListModel
                    (
                        x.Id,
                        x.Reference,
                        x.Name,
                        x.Description,
                        x.Price,
                        x.Currency,
                        x.Pictures?.Select
                        (
                            y =>
                            new FileInfoModel
                            (
                                y.Path,
                                y.Name,
                                y.ContentType
                            )
                        ).ToList(),
                        x.CreatedAt,
                        new CategoryListModel
                        (
                            x.Category?.Id,
                            x.Category?.Name
                        ),
                        new UserListModel
                        (
                            x.Owner?.UserId,
                            x.Owner?.Email,
                            x.Owner?.FullName,
                            x.Owner?.CreatedAt ?? DateTime.MinValue,
                            x.Owner?.Role ?? RoleOptions.Other,
                            x.Owner?.Status ?? false
                        ),
                        x.Status
                    )
                ).ToArray();
            }
            else
            {
                messageType = MessageType.danger;
                message = await response.Content.ReadAsStringAsync();
            }
        }
        catch(Exception ex)
        {
            throw ex;
        }
        finally
        {
            isLoadingData = false;
        }
    }

    private async Task HandleDelete(string id, string name)
    {
        try
        {
            isBusy = true;
            messageType = MessageType.info;
            message = "Processing...";
            var result = await JS.InvokeAsync<bool>("confirmDelete", name);
            if (result)
            {
                var response = await Http.DeleteAsync($"Article/{id}");
                if (response.IsSuccessStatusCode)
                {
                    messageType = MessageType.success;
                    message = "Delete done !";
                    await InvokeAsync(StateHasChanged);
                    await Task.Delay(1000);
                    await LoadData();
                }
                else
                {
                    messageType = MessageType.danger;
                    message = await response.Content.ReadAsStringAsync();
                }
            }
        }
        catch(Exception ex)
        {
            messageType = MessageType.danger;
            message = $"Error : {ex.Message}";
        }
        finally
        {
            isBusy = false;
        }
    }
}
